<div id="footer-container" fxLayout="row">
    <div class="column address">
      <h2>Adrese poslovnica</h2>
      <p>Pančevački put bb, 26000 Pančevo</p>
      <p>Salvador Aljende 92, 11000 Beograd-Karaburma</p>
    </div>
    <div class="column contact">
      <h2>Kontaktirajte nas</h2>
      <p>tel. 0112496832</p>
      <p>mobilni +381631546456</p>
      <p>Email: <a href="#">bsautodelovi@gmail.com</a></p>
    </div>
    <div class="column copyright">
      <h2>Copyright</h2>
      <p>&copy; {{ currentYear }} Bojana Mitrović & Stojanka Tešanović.</p>
      <p>Sva prava rezervisana. Sajt nije za komercijalnu
        upotrebu.
      </p>
    </div>
  </div>