<form id="advert-form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
(ngSubmit)="finishEditing()">
  <mat-form-field>
    <input type="text" matInput placeholder="Naziv dela" [(ngModel)]="this.productForEditing.name" ngModel name="name" required maxlength="255" #nameInput="ngModel" [(value)]="this.productForEditing.name">
    <mat-error *ngIf="nameInput.hasError('required')">Polje ne bi smelo da bude prazno.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="Opis" [(ngModel)]="this.productForEditing.description" ngModel name="description" required maxlength="255" #descriptionInput="ngModel" [(value)]="this.productForEditing.description">
    <mat-error *ngIf="descriptionInput.hasError('required')">Polje ne bi smelo da bude prazno.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="Cena" [(ngModel)]="this.productForEditing.price" ngModel name="price" required maxlength="255" #priceInput="ngModel"[(value)]="this.productForEditing.price" >
    <mat-error *ngIf="priceInput.hasError('required')">Polje ne bi smelo da bude prazno.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Kategorija</mat-label>
    <mat-select name="category" [(ngModel)]="this.productForEditing.category" ngModel matInput required [(value)]="this.productForEditing.category"> 
      <mat-option value="karoserija">Karoserija</mat-option>
      <mat-option value="elektrika">Elektrika</mat-option>
      <mat-option value="akumulator1">Akumulator</mat-option>
      <mat-option value="sijalice1">Sijalice</mat-option>
      <mat-option value="trap">Trap</mat-option>
      <mat-option value="pogon tockova">Pogon tockova</mat-option>
      <mat-option value="motor">Motor</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="Model Auta" [(ngModel)]="this.productForEditing.carModel" ngModel name="carModel" required maxlength="255" #carModelInput="ngModel" [(value)]="this.productForEditing.carModel">
    <mat-error *ngIf="carModelInput.hasError('required')">Polje ne bi smelo da bude prazno.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Tip Proizvoda</mat-label>
    <mat-select name="productType" [(ngModel)]="this.productForEditing.productType" ngModel matInput required [(value)]="this.productForEditing.productType">
      <mat-option value="originalan">Originalan deo</mat-option>
      <mat-option value="zamenski">Zamenski Deo</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="Garancija(U mesecima)" [(ngModel)]="this.productForEditing.guaranty" ngModel name="guaranty" required maxlength="255" #guarantyInput="ngModel" [(value)]="this.productForEditing.guaranty">
    <mat-error *ngIf="guarantyInput.hasError('required')">Polje ne bi smelo da bude prazno.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Stanje</mat-label>
    <mat-select name="availability" [(ngModel)]="this.productForEditing.availability" ngModel matInput required [(value)]="this.productForEditing.availability">
      <mat-option value="Dostupan">Dostupan</mat-option>
      <mat-option value="Nedostupan">Nedostupan</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="Vreme Dostave(U danima)" [(ngModel)]="this.productForEditing.deliveryTime" ngModel name="deliveryTime" required maxlength="255" #deliveryTimeInput="ngModel" [(value)]="this.productForEditing.deliveryTime">
    <mat-error *ngIf="deliveryTimeInput.hasError('required')">Polje ne bi smelo da bude prazno.</mat-error>
  </mat-form-field>
  <div>
    <button mat-raised-button [mat-dialog-close]="true" type="submit" color="primary">Izmeni proizvod</button>
  </div>
</form>
